@mixin center-element() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin img-wrapper-base-style($width, $hight){
  width: $width;
  height: $hight;
  overflow: hidden;
  @include center-element()
}

@mixin border($color: $gray-light-color, $size : 1px){
  border: solid $size  $color;
}

@mixin hideScrollBar(){
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important;  /* IE 10+ */
  &::-webkit-scrollbar { /* WebKit */
      width: 0 !important;
      height: 0 !important;
  }
  &::-webkit-scrollbar {
      width: 0px !important;
      background: transparent !important; /* make scrollbar transparent */
  }
}
