//font variables
$primaryFontFamily: 'Poppins', sans-serif ;

//colors variables
$white-color: #ffff;
$primary-color: #BE48EB;
$primary-light-color: #c36de6;
$primary-dark-color: #9327bd;
$secondary-color: #282828;
$gray-light-color: #F2F3F2;
$font-black-color:  #282828;
$font-gray-color: #6B6B6C;

