<div class="comment-wrapper">
  <div class="d-flex  gap-2  ">
    <div class="comment-user-img-wrapper">
      <img class="img-fluid user-img"
           src="https://source.unsplash.com/random/80×80/?profile"
           alt="">
    </div>
    <div>
      <p class="comment-user-title">userName</p>
      <p class="comment-description">
        est natus enim nihil est dolore omnis voluptatem numquam\net omnis
        occaecati quod ullam at\nvoluptatem error expedita pariatur\nnihil sint
        nostrum voluptatem reiciendis et
      </p>
    </div>
  </div>


</div>
