<div class="post-card-wrapper post-skelton">
  <div class="user-information-wrapper d-flex align-items-center gap-3 placeholder-glow">
    <div class="user-img-wrapper " >
      <img class="img-fluid user-img placeholder" />
    </div>
    <p class="user-title placeholder col-4">  </p>
  </div>
  <div class="post-body placeholder-glow">
    <h4 class="post-title placeholder col-8">  </h4>
    <p class="post-description placeholder col-11"> </p>
  </div>
  <div class="post-img-wrapper col-12 placeholder-glow " >
    <img class="img-fluid post-img placeholder"  height="400" />
  </div>
  <button class="btn  btn-comment placeholder disabled col-2" disabled >
    <i class="bi bi-eye"></i>
    View Comments
  </button>
</div>
