@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
  font-family: $primaryFontFamily !important;
}

h1,h2,h3,h4,h5,h6{
  color: $font-black-color;
}

p{
  color: $font-gray-color;
}
