<div class="comment-wrapper">
  <div class="d-flex  gap-2  ">
    <div class="comment-user-img-wrapper">
      <img class="img-fluid user-img"
           ngSrc="https://source.unsplash.com/random/80×80/?profile"
           [class.placeholder]="!isImgCommentLoaded"
           width="80"
           height="80"
           (load)="onImgLoaded()"
           alt="user comment image">
    </div>
    <div>
      <p class="comment-user-title">{{comment.name}}</p>
      <p class="comment-description">
        {{comment.body}}
      </p>
    </div>
  </div>
</div>
