<div class="nav user-nav-wrapper" *ngIf="(users$ | async) as users ; else loading ">
  <a *ngFor="let user of users; let i = index"
     class="user-nav-link"
     routerLink="/"
     routerLinkActive="active"
     [queryParams]="{userId: user.id}"
     [class.active]="false"> {{user.username}} </a>
</div>

 <ng-template #loading>
  <app-skelton-loader></app-skelton-loader>
 </ng-template>

<ng-container *ngIf="(usersError$ | async) as message ">
  <app-error-alert [message]="message"></app-error-alert>
</ng-container>
